body {
  background-color: #1a1a1a;
  font-family: sans-serif;
}

.custom-header {
  height: 350px;
}

.custom-header-bg {
  position: fixed;
  background-image: url(../paper_img/sitetheme2.png);
  background-size: 400px;

  width: 100%;
  height: inherit;
  text-align: center;
  overflow: hidden;
  pointer-events: none;
}

.custom-header-bg li,
.custom-header-bg button {
  pointer-events: all;
}

.custom-header-bg h1 {
  pointer-events: none;
  font-size: 80px;
  color: white;
}

.custom-header-bg h3 {
  pointer-events: none;
  font-size: 25px;
  color: rgb(223, 223, 223);
}

.gamesIntro {
  height: 60vh;
}

.gamesIntro img {
  pointer-events: none;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.gamesIntro h1 {
  pointer-events: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 80px;
  color: white;
}

.gamesBody {
  display: flex;
  flex-flow: row wrap;
  gap: 20px;
}

.gamesBody h1 {
  color: white;
  font-size: 5vh;
  margin-left: 5px;
  margin-right: 5px;
  /* margin-bottom: 60px; */
  margin-top: 15px;
  margin-bottom: 50px;
}

.gamesItem {
  z-index: 1;
  height: 370px;
  width: 270px;
  border-radius: 5px;
  overflow: hidden;

  transform: translateY(0);
  transition: 0.2s;
}

.gamesItem a {
  display: block;
  height: 100%;
  width: 100%;
  transition: 0.2s;
}

.gamesItem a:hover{
  background-color: #0000004d;
}

.gamesItem:hover {
  transform: scale(1.05, 1.05);
  box-shadow: -4px 4px 4px -4px rgba(0, 0, 0, 0.5),
    0px 0px 18px 0px rgba(0, 0, 0, 0.8);
}

.games {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

@media screen and (max-width: 993px) {
  .gamesBody {
    /* padding-top: 110px;
        padding-bottom: 110px;
        position: relative; */
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: 5px;
    margin-right: 5px;
  }

  .gamesItem {
    height: 233px;
    width: 170px;
  }
}

@media screen and (max-width: 561px) {
  .gamesItem {
    height: 178px;
    width: 130px;
  }
}

a.fill-div-games {
  display: block;
  height: 100%;
  width: 100%;
  text-decoration: none;
}

.fill-div-games {
  transition: 0.2s;
}

.fill-div-games:hover {
  background-color: #00000080;
}

.fill-div-games:hover h1 {
  opacity: 1;
  transform: translate(-50%, -50%);
}

.fill-div-games:hover p {
  opacity: 1;
  transform: translate(-50%, 170%);
}

.section-gray-img {
  padding-bottom: 40px;
  overflow: hidden;
  background-image: url(../paper_img/sitetheme2.png);
  background-size: 400px;
  color: #ffffffce
}

.section-gray-img .bg {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  background-image: url(../paper_img/sitetheme2.png);
  background-size: 400px;
  position: absolute;
  height: 100%;
  width: 500vw;
  z-index: 0;
}

.section-blue-img {
  padding-bottom: 40px;
  overflow: hidden;
}

.section-blue-img .bg {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  background-image: url(../paper_img/sitetheme_blue.png);
  background-size: 400px;
  position: absolute;
  height: 100%;
  width: 500vw;
  z-index: 0;
}

.section-blue-img p {
  position: relative;
  color: #fff;
}

.section-blue-img h1, .section-blue-img h2, .section-blue-img h3 {
  position: relative;
  color: #fff;
}

.section-blue-img ul {
  position: relative;
  color: #fff;
}

hr {
  border-color: #00000017;
  border-width: 2px;
}

#item01 {
  background: url(../paper_img/kebab-banner.png) no-repeat;
  background-size: cover;
}

#item02 {
  background: url(../paper_img/dontslip-banner.png) no-repeat;
  background-size: cover;
}

#item03 {
  background: url(../paper_img/universalserializer-banner.png) no-repeat;
  background-size: cover;
}

#item04 {
  background: url(../paper_img/inimaster-banner.png) no-repeat;
  background-size: cover;
}

#item05 {
  background: url(../paper_img/solomonar-banner.png) no-repeat;
  background-size: cover;
}

#item06 {
  background: url(../paper_img/timocomhero-banner2.png) no-repeat;
  background-size: cover;
}

#item07 {
  background: url(../paper_img/tohw-banner.jpg) no-repeat;
  background-size: cover;
}