html {
  scroll-behavior: smooth;
}

body {
  background-color: #1a1a1a;
  font-family: sans-serif;
}

.custom-header {
  min-height: 400px;
}
.custom-header-bg {
  position: fixed;
  background-image: url(../paper_img/background-cover.webp);
  width: 100%;
  height: 100%;
  text-align: center;
  overflow: hidden;
  pointer-events: none;
}
.custom-header-bg li,
.custom-header-bg button {
  pointer-events: all;
}
.custom-header-bg h1,
.custom-header-bg h3 {
  pointer-events: none;
  color: #f0f0f0;
}
.custom-header-bg h1 {
  font-size: 80px;
}
.custom-header-bg h3 {
  font-size: 25px;
  color: rgb(223, 223, 223);
}

.gamesIntro {
  height: 60vh;
}
.gamesIntro img {
  pointer-events: none;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.gamesIntro h1 {
  pointer-events: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 80px;
  color: #f0f0f0;
}

.gamesBody {
  display: flex;
  flex-flow: column;
  gap: 20px;
}
.gamesBody h1 {
  color: #f0f0f0;
  font-size: 5vh;
  margin: 15px 5px 50px;
}

.gamesItem {
  z-index: 1;
  height: 150px;
  width: 100%;
  border-radius: 15px;
  background-color: rgb(199, 199, 199);
  overflow: hidden;
  transform: translateY(0);
  transition: 0.2s;
  will-change: transform;
}
.gamesItem:hover {
  transform: scale(1.05);
  box-shadow: -4px 4px 4px -4px rgba(0, 0, 0, 0.5), 0 0 18px rgba(0, 0, 0, 0.8);
}
.gamesItem a {
  display: flex;
  gap: 10px;
  height: 100%;
  align-items: center;
  width: 100%;
  transition: 0.2s;
}

#game01 {
  background: linear-gradient(90deg, rgb(106, 13, 173) 0%, rgb(225, 93, 149) 100%);
  color: #f0f0f0;
}
#game01 .tag {
  background-color: #d3b8ff;
}

#game02 {
  background: linear-gradient(90deg, rgb(27, 29, 54) 0%, rgb(78, 93, 141) 100%);
  color: #f0f0f0;
}
#game02 .tag {
  background-color: #A6A3D9;
}

#game03 {
  background: linear-gradient(90deg, rgb(177, 102, 55) 0%, rgb(172, 146, 52) 100%);
  color: #f0f0f0;
}
#game03 .tag {
  background-color: #FFB347;
}

#software01 {
  background: linear-gradient(90deg, rgb(199, 220, 235) 0%, rgb(221, 223, 226) 100%);
  color: #2C3E50;
}
#software01 .product-info {
  color: #2C3E50;
}
#software01 .tag {
  background-color: #00ADEF;
}

#software02 {
  background: linear-gradient(90deg, rgb(30, 30, 30) 0%, rgb(44, 44, 44) 100%);
  color: #2C3E50;
}
#software02 .tag {
  background-color: #00C4B3;
}

#software03 {
  background: linear-gradient(90deg, rgb(10, 15, 31) 0%, rgb(32, 12, 26) 100%);
  color: #2C3E50;
}
#software03 .tag {
  background-color: #A855F7;
}

.product-icon {
  height: 135px;
  min-width: 98.55px;
  margin-left: 7px;
  border-radius: 10px;
  overflow: hidden;
}
.product-icon img {
  width: 100%;
  height: 100%;
}

.product-info {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  padding: 5px;
  color: #f0f0f0;
}
.product-info p,
.product-info h3 {
  margin: 0;
}
.product-info h5 {
  margin: 0 0 5px 0;
}

.contributions {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 5px;
  margin: 5px 0px 7px 0px;
}

.tag {
  display: flex;
  max-height: 28px;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  color: rgba(0, 0, 0, 0.8);
  border-radius: 20px;
}

.games {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

a.fill-div-games {
  display: block;
  height: 100%;
  width: 100%;
  text-decoration: none;
}

.fill-div-games {
  transition: 0.2s;
}
.fill-div-games:hover {
  background-color: rgba(0, 0, 0, 0.5);
}
.fill-div-games:hover h1 {
  opacity: 1;
  transform: translate(-50%, -50%);
}
.fill-div-games:hover p {
  opacity: 1;
  transform: translate(-50%, 170%);
}

.about-container {
  display: flex;
  gap: 50px;
}
.about-container::before, .about-container::after {
  display: none;
}

#skills {
  min-width: 500px;
}

.section-gray-img {
  padding-bottom: 40px;
  overflow: hidden;
  background-image: url(../paper_img/sitetheme2.png);
  background-size: 400px;
  color: rgba(255, 255, 255, 0.81);
}
.section-gray-img .bg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url(../paper_img/sitetheme2.png);
  background-size: 400px;
  width: 500vw;
  height: 100%;
  z-index: 0;
}

.section-blue-img {
  padding-bottom: 40px;
  overflow: hidden;
}
.section-blue-img .bg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url(../paper_img/background-cover.webp);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: calc(100% + 5px);
  z-index: 0;
}
.section-blue-img p,
.section-blue-img ul,
.section-blue-img h1,
.section-blue-img h2,
.section-blue-img h3 {
  position: relative;
  color: #f0f0f0;
}

hr {
  border-color: rgba(0, 0, 0, 0.09);
  border-width: 2px;
}

#item02,
#item03,
#item04,
#item06 {
  background-size: cover;
  background-repeat: no-repeat;
}

#item02 {
  background-image: url(../paper_img/dontslip-banner.png);
}

#item03 {
  background-image: url(../paper_img/universalserializer-banner.png);
}

#item04 {
  background-image: url(../paper_img/inimaster-banner.png);
}

#item06 {
  background-image: url(../paper_img/timocomhero-banner2.png);
}

@media screen and (max-width: 993px) {
  .gamesItem {
    height: 233px;
    width: 170px;
  }
  .gamesItem {
    height: auto;
    width: 100%;
  }
  .product-icon {
    align-self: flex-start;
    margin-top: 7px;
  }
  .about-container {
    flex-wrap: wrap;
  }
  #skills {
    min-width: auto;
  }
}/*# sourceMappingURL=style.css.map */